!!! 5
html 
    head
        block meta
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="description", content="Johnathan Irvin is a software engineer and researcher based on planet Earth, serving the local solar system. You know, because remote work is a thing, and so is latency.")
            meta(name="keywords", content="Vue,JavaScript,HTML,CSS,Python,VueJS,Bootstrap,C#,Engineer,Software,Coding,Development")
            meta(name="author", content="Johnathan Irvin")
            
        link(rel="shortcut icon" href="{{ url_for('favicon', ts=range(0, 10**10) | random) }}")
        link(
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        )
        script(
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        )

        // {% if not config.DEBUG %}
        // Global site tag (gtag.js) - Google Analytics
        script(
            async src="https://www.googletagmanager.com/gtag/js?id=G-TRBJKSZ5W1"
        )
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-TRBJKSZ5W1');
        // {% endif %}

        block scripts
        block styles
        block title
            title Engineer, Researcher, Entrepreneur - Johnathan Irvin

    body
        block header

        block body
            main#main.container

        block footer
